@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
.titulo {
    font-size: 50px;
    font-family: 'Lobster', cursive;
    color: black;
    } 

body {
    
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    text-align: center;
    background-image: -webkit-gradient(linear,  left top,  left bottom,
    color-stop(0.00, red), 
    color-stop(16%, orange),
    color-stop(32%, yellow),
    color-stop(48%, green),
    color-stop(60%, blue),
    color-stop(76%, indigo),
    color-stop(1.00, violet));

}
.textoUno {
    font-size: 20px;
    font-family: 'Lobster', cursive;
    }

.cuadroUno {
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
}
.textoDos {
    font-size: 20px;
    font-family: 'Lobster', cursive; 
    }

.textoTres {
    font-size: 20px;
    font-family: 'Lobster', cursive; 
}
.cuadroDos {
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
}
        
.btnCifrar {
    background-color: whitesmoke;
    font-size: 20px;
    font-family:'Lobster', cursive;

}
.btnDescifrar{
    background-color: whitesmoke;
    font-size: 20px;
    font-family: 'Lobster', cursive;
}